name: Go
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.12
      uses: actions/setup-go@v1
      with:
        version: 1.12
      id: go

    - name: Run tests
      working-directory: ${{ go.module-path }}
      run: make test

    - name: Build
      working-directory: ${{ go.module-path }}
      run: make